<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <connectionStrings>

    <add name ="sqlDBConnection" connectionString="data source =.; database = OrderManagment; integrated security = true "/>
    <add name ="sqlDBConnectionMulti" connectionString="data source =.; database = OrderManagment; integrated security = true; MultipleActiveResultSets=true "/>
  </connectionStrings>
</configuration>